
<div class="row">
  <div class="col s12 well grey">
    <div class="row">
      <div class="col s6">
        <img class="responsive-img"src={{post.image}}>
      </div>
      <div class="col s6">
        <h4>{{#link-to 'post' post.id}}{{post.title}}{{/link-to}}</h4>
        <h6>{{post.author}}</h6>
        <p>{{post.description}}</p>
      </div>

    </div>

  </div>
</div>
