<nav class="nav-extended cyan">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"></a>
    <ul id="nav-mobile" class="right">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
      <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
    </ul>
  </div>
</nav>
<div class= "container">
  {{outlet}}

  <hr>
  <footer>

  </footer>
</div>
