<p>Teacher Blog Representatives would love to answer any burning questions you may have.</p>

<p>Contact us today!</p>

<p>
  Teacher Blog Headquarters<br>
  1212 Test Address Avenue<br>
  TestyMcTestington, OR 97233
</p>

<p>(503) 555-1212</p>

<p>teacherblogrep@teacherblog.com</p>
